{{define "admin_header"}}
<!DOCTYPE html>
<html lang="en">

	{{template "head" .}}

	<body>
		<div class="container-fluid admin" role="main">
			<noscript>
				<div class="alert alert-secondary" role="alert">
					<strong>Скорее всего в вашем браузере отключён JavaScript.</strong>
					Вы должны включить JavaScript в вашем браузере, чтобы использовать все возможности этого сайта.
				</div>
			</noscript>
{{end}}
