{{define "errors/403"}}
{{template "header" .}}

<div id="one-column" class="container">
  <div class="text-center">
    <h1>403 Error</h1>
    <div class="description">
      <p>Access Denied.</p>
      <!-- Custom error description >> << -->
      {{if .Error}}
        {{.Error}}
      {{end}}
    </div>
  </div>
</div>

{{template "footer" .}}
{{end}}
