{{define "errors/404"}}
{{template "header" .}}

<div id="one-column" class="container">
  <div class="text-center">
    <h1>404 Error</h1>
    <div class="description">
      <!-- custom error description >> << -->
      <p>Navigate to <a href="/">Home Page</a>.</p>
    </div>
  </div>
</div>

{{template "footer" .}}
{{end}}
