// reassign or declare new bootstrap variables here
//paletton link http://paletton.com/#uid=75t0u0kmDdxfalOingCr59rxj5q
// $fa-font-path : "../fonts";
$primary: #6B9850;
$content-bg: #fff;
$divider: rgb(227, 233, 230);
$secondary: #265848;
$warning: #FF5252;
$danger: #D32F2F;
$breadcrumb-bg: transparent;
$breadcrumb-padding-x: 0;

$thead-color: #fff;
$thead-bg: #3D7462;
$footer-sub-header: #3D7462;
$bg-dark: #083224;