{{define "emails/admin_orderconsult"}}
<html>
  <head>
  </head>
  <body>

    <p>Consultation Order on {{domain}}.</p>
    <p>Customer Name: {{.OrderConsult.Name}}.</p>
    <p>Contact Phone: {{.OrderConsult.Phone}}.</p>

    <p>&nbsp;</p>
    <p>This email was generated automatically. No need to reply to it.</p>
  </body>
</html>
{{end}}
