{{define "orders/confirm"}}
{{template "header" .}}

<div id="one-column" class="order-confirm container">
  <h1 class="text-center">{{.Title}}</h1>
  <div class="description">
    <p class="text-justify">
      {{.Order.FirstName}} {{.Order.MiddleName}}, thank You for chosing our company! We will contact you as soon as possible!
    </p>
    <p class="text-center">Now you can return back to <a href="/">our home page</a>.</p>
  </div>
</div>

{{template "footer" .}}
{{end}}
